1. What are the types of Application?

Ans
1. web application
2. data science and machine learning
3. Destop GUI Application
4. Automation and Scripting
5. Game Devlopement
6. Network Programming
7. Embedded Systems
8. Scientifoc and numeric computing
9.  cybersecurity
10. Eduction

2. What is Programming?

Ans -: Programming is the process of writing code that a computer can understand and execute to perform specific tasks.

Keys of programming
1. Wrinting code
2. Problem Solving
3. Testing and debugging
4. Optimization

3. What is Python ?

Ans-:  Python is high-level interpreted programming languuage khown for its simplicity and readablity. it is widly used for web devlopment, data analysis, ai, automation and more

Its high-level built in data structures, combined with dynamic typing and
dynamic binding, make it very attractive for Rapid Application
Development

4. write a python program to check if a number is positive,negative or zero

In [ ]:
num = int(input("Enter Number -> "))

if num > 1:
  print("Number is Positive")
elif num == 0:
  print("Number is Zero")
else:
  print("Number is Negative")

Enter Number -> -1
Number is Negative

5. write a python program to get the fectorial number of given numbers

In [ ]:
no = int(input("enter number -> "))

fact = 1

for i in range(1,no+1):
  fact = fact * i

print(fact)

enter number -> 5
120

6. write a python programe to get the fibonacci series of given range

In [ ]:
n = int(input("Enter No -> "))
a = 0
b = 1
co = 0

while co < n:
  print(a)
  c = a+b
  a = b
  b = c
  co+=1

Enter No -> 10
0
1
1
2
3
5
8
13
21
34

7. How memory is managed by python ?

Ans. -:  Ptyhon manages momeory automatically through its build-in memory management system. it does this using several key components and techniques to ensure efficient momory use.

1. Memory allocatin

2. Reference Counting

3. Garbage Collection

4. Memory Pooling

5. Memory Deallocation

6. Memory management tools

7. Memory Leaks in python

8. Optimization

8. What is the continuing Statement in python ?

> The continue statement is used to skip the current interation and move to the next iteration of the loop.

> Syntax -: continue

9. Write a python program that swap two numbers with temp variable and without temp variable.

In [ ]:
# with temp variables

num1 = int(input("enter number 1 -> "))
num2 = int(input("enter number 2 -> "))

temp = num1
num1 = num2
num2 = temp

print(f"Before swapping num1 = {num1} and num2 = {num2}")
print(f"After swapping num1 = {num1} and num2 = {num2}")

enter number 1 -> 10
enter number 2 -> 20
Before swapping num1 = 20 and num2 = 10
After swapping num1 = 20 and num2 = 10

In [ ]:
# without temp variable

num1 = int(input("enter number 1 -> "))
num2 = int(input("enter number 2 -> "))

num1 = num1 + num2
num2 = num1 - num2
num1 = num1 - num2

print(f"Before swapping num1 = {num1} and num2 = {num2}")
print(f"After swapping num1 = {num1} and num2 = {num2}")

enter number 1 -> 15
enter number 2 -> 35
Before swapping num1 = 35 and num2 = 15
After swapping num1 = 35 and num2 = 15

10. write a python program to find whether a given number is even or odd. print out an appropriate message to the user

In [ ]:
num = int(input("Enter Number -> "))

if num % 2 == 0:
  print("Number is Even")
else:
  print("Number is Odd")

Enter Number -> 2
Number is Even

11. write a python program to test whether a passed letter is vowel or not

In [ ]:
txt = input("Enter the text :")

if txt in 'aeiou':
  print("Letter is vowel")
else:
  print("Letter is not vowel")

Enter the text :a
Letter is vowel

12. Write a python program to sum of three given integer. However if two values are equal sum will be zero

In [ ]:
n1 = int(input("Enter Number 1 -> "))
n2 = int(input("Enter Number 2 -> "))
n3 = int(input("Enter Number 3 -> "))

if n1 == n2 or n1 == n3 or n2 == n3:
  print("two values are same sum is Zero")
else:
  print(f"Sum is {n1 + n2 + n3}")

Enter Number 1 -> 10
Enter Number 2 -> 10
Enter Number 3 -> 56
Sum is Zero

13. write a python program that will return true if given integer values are equal or their sum of difference is 5

In [ ]:
v1 = int(input("Enter 1st value -> "))
v2 = int(input("Enter 2nd value -> "))

if v1 == v2 or abs(v1 - v2) == 5:
  print("True")

Enter 1st value -> 10
Enter 2nd value -> 5
True

14. Write a python program to sum of the first n positive integers

In [ ]:
n = int(input("Enter value -> "))
sum = n * (n+1)/2
print(f"the sum of the first {n} positive integers is {sum}")

Enter value -> 10
the sum of the first 10 positive integers is 55.0

15. Write a python program to calculate the length of a string

In [ ]:
num = input("Enter String -> ")
length = len(num)
print(f"Length of the string is {len(num)}")

Enter String -> 10206
Length of the string is 5

16. Write a python program to count the number of characters in a string

In [ ]:
st = input("Enter the string -> ")
c = len(st)
print(f"number of character is : {c} ")

Enter the string -> maharshi
number of character is : 8

17. What are nagetive indexes and why are they used?

ans -: negetive indexes are used to access elements from the end of a list, string, or other sequence data types. they provide a convenint way to acces elements starting from the last element of the sequence without needing to know its exact length .

> negative index start from end of the sequence

18. write a python programe to count occurrences of a sbustring in string

In [ ]:
stri = input("Enter the main string -> ")
strin = input("Enter the sub string -> ")
count = stri.count(strin)
print(f"Number of occurrences of '{strin}' in '{stri}' is {count}")

Enter the main string -> maharshi
Enter the sub string -> maha
Number of occurrences of 'maha' in 'maharshi' is 1

19. write a python program to count the occurrrences of each word in a given sentence

In [ ]:
sen = input("Enter a sentence -> ")
words = sen.split()
word_count = {}

for word in words:
  if word in word_count:
    word_count[word] += 1
  else:
    word_count[word] = 1

print("Word occurrences:")
for word, count in word_count.items():
  print(f"{word}: {count}")

Enter a sentence -> Mjp
Word occurrences:
Mjp: 1

20. write a python program to get a single string from two given string separated by a space and swap the first two characters of each string

In [ ]:
st1 = input("Enter the first string -> ")
st2 = input("Enter the second string -> ")

if len(st1) >= 2 and len(st2) >= 2:
  new_st1 = st2[:2] + st1[2:]
  new_st2 = st1[:2] + st2[2:]
else:
  new_st1 = st1
  new_st2 = st2

print(f"New string 1: {new_st1}")
print(f"New string 2: {new_st2}")

Enter the first string -> 10
Enter the second string -> 56
New string 1: 56
New string 2: 10

21. write a python program to add 'in' at the end of a given string (length should be at least 3). if the given string already ends with 'ing' then add 'ly' instead if the string length of given string is less then 3, leave it unchanged

In [ ]:
st = input("Enter a string -> ")

if len(st) >=3:
  if st.endswith('ing'):
    st += 'ly'
  else:
    st += 'ing'
print("Modified string:", st)

Enter a string -> maharshi
Modified string: maharshi ing

22. write a python function to reverses a string if its length is a multiple of 4

In [ ]:
ist = input("Enter a string -> ")

if len(ist) % 4 == 0:
  ist = ist[::-1]
  print("Reversed string:", ist)
else:
  print("String length is not a multiple of 4")

print("Reversed string:", ist)

Enter a string -> 456
String length is not a multiple of 4
Reversed string: 456

23. write a python program to get a string made of the first 2 and the last 2 char from a given a string. if the string length is less then 2, return instead of the empty string

In [ ]:
inpstr = input("Enter a string -> ")

if len(inpstr) < 2:
  print("Empty string")
else:
  newstr = inpstr[:2] + inpstr[-2:]
  print(f"New string -: {newstr}")

Enter a string -> 564
New string -: 5664

24. write a python function to insert a string in the middle of a string.

In [ ]:
st1 = input("Enter the first string -> ")
st2 = input("Enter the second string -> ")

mid = len(st1) // 2
res = st1[:mid] + st2 + st1[mid:]

print("Resulting string:", res)

Enter the first string -> maharshi
Enter the second string -> puro
Resulting string: mahapurorshi

25. what is list? how will you reverse a list ?

ans -: A list in python is a mutable ordered collection of items. it can contain elements of different data types such as integer, string, floats or even other lists. lists are created by placing elements inside square brackets[], separated by commas.

> characteristics of lists
1. ordered
2. mutable
3. indexed
4. allows duplicate values

| Reverse a list in python

if we want to reverse a list then we have a built-in fuction
> reverse()

with the reverse() function we can reverse the value.

if we want to create a new list without modifying original list then we can use slicing
> [::-1]

26. how will you remove last object from a list ?

ans -:  if we want to remove the last object from the list then we have 3 ways

1. pop() method - with the pop() method we can remove the last object

2. slicing([:-1]) - with the use slicing([:-1}) we can create a new list without the left item, having the original list unchanged

3. del - it removes the last item by specifying the index -1, modifying the original list

27. suppose list1 is [2,33,222,14, and 25], what is list1 [-1]

In [ ]:
list1 = [2,33,222,14,25]
list1[-1]

25

28. Differentiate between append() and extend() methods?

| append()
> the purpose of the append() method is used to add a single element to the end of the list.

> in the append method list length is changed by the increment of +1

> in this method if we add another list then it adds the new list as a single list called - nested list.

> Example

In [ ]:
lst = [1,2,3]
lst.append([4,5])
print(lst)

[1, 2, 3, [4, 5]]

| extend()
> the extend() method is used to add each element from list, tuple, or set individually to the list.

> it merges new list into the existing list

> in this method list length is changed by increses the number of elements in the iterable

> it works with list , tuple , set , etc.

In [ ]:
lst = [1,2,3]
lst.extend([4,5])
print(lst)

[1, 2, 3, 4, 5]

29. Write a Python function to get the largest number, smallest number and sum of all from the list.

In [ ]:
lst = [10,5,25,33,55]

largest = max(lst)
small = min(lst)
sum = sum(lst)

print(f"largest number is {largest}")
print(f"smallest number is {small}")
print(f"sum of all number is {sum}")

largest number is 55
smallest number is 5
sum of all number is 128

30. How Will you compare two lists?

In [ ]:
# if we want to compare two list then we use == sign

list1 = [1,2,3]
list2 = [1,2,3]

if list1 == list2:
  print("list are equal")
else:
  print("list are not equal")

list are equal

31. Write a python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of string

32. Write a python programe to remove duplicates from a list.

In [ ]:
num = [1,2,2,3,5,4,5,5,6]

num = list(set(num))
num

[1, 2, 3, 4, 5, 6]

33. Write a python program to check a list is empty or not

In [ ]:
m_lst = []

if len(m_lst) == 0:
  print("List is empty")
else:
  print("List is not empty")

List is empty

34. Write a python function that takes two lists and returns true if they have at least one comman member.

In [ ]:
list1 = [1,2,3,4,5]
list2 = [5,6,7,8,9]

for i in list1:
  if i in list2:
    print("One common member at both list")

One common member at both list

35. write a python program to generate and print a list of first and last 5 elements where the values are square of numbers between 1 and 30.

In [ ]:
sq = [ i**2 for i in range(1,31)]

r = sq[:5] + sq[-5:]
r

[1, 4, 9, 16, 25, 676, 729, 784, 841, 900]

36. Write a python function that takes a list and returns a new list with unique elements of the list.

In [ ]:
list1 = [1,2,2,3,4,4,5,6,6]

list(set(list1))

[1, 2, 3, 4, 5, 6]

37. write a python program to convert a list of charaters into a string

In [ ]:
m = ['M','J','P','u','r','o','h','i','t']
''.join(m)

'MJPurohit'

38. write a python program to select an item randomly from a list

In [ ]:
import random
li = ['Ahemdabad','Mehsana','Chanasma','Patan','Kalol']

nl = random.choice(li)
nl

'Ahemdabad'

39. write a python program to find the second smallest number in a list.

In [ ]:
num = [1,5,6,7,12,15,84,55,54,52,80]
num.sort()
print(num)
print(f"second smallest number is {num[1]}")

[1, 5, 6, 7, 12, 15, 52, 54, 55, 80, 84]
second smallest number is 5

40. write a python program to get unique values from a list

In [ ]:
num = [1,2,2,3,4,4,5,6,6]

list(set(num))

[1, 2, 3, 4, 5, 6]

41. write a python program to check whether a list contains a sub list.

In [ ]:
li1 = [1,2,3,4,5,6,7,8]
li2 = [3,4,5]

set(li2).issubset(set(li1))

True

42. write a python program to split a list into different variables

In [ ]:
l = [1,2,3,4,5]

a,b,c,d,e = l

print(f"a = {a}")
print(f"b = {b}")
print(f"c = {c}")
print(f"d = {d}")
print(f"e = {e}")

a = 1
b = 2
c = 3
d = 4
e = 5

43. what is tuple ? difference between list and tuple

Tuple : a tuple is an ordered, immutable collection of elements in python.
> it defines with () brackets

> List

1. it is ordered.
2. it is mutable.
3. it defines with [ ] bracktes.
*  methods
> 1. append()
> 2. remove()

> Tuple
1. it is ordered
2. it is immutable
3. it defines with ( ) bracktes.
* methods
> 1.count()

 > 2.index()

44. Write a python program to create a tuple with different data types

In [3]:
inti = int(input("Enter integer Value : "))
St = input("Enter String Value : ")
fl = float(input("Enter float Value : "))

tup = (inti,St,fl)
tup

Enter integer Value : 53
Enter String Value : meet
Enter float Value : 5.2

(53, 'meet', 5.2)

45. write a python program to unzip a list of tuples into individual lists.

In [5]:
ml = [(1,2,3),(4,5,6)]
ul = list(zip(*ml))
uli = [list(i) for i in ul]
uli

[[1, 4], [2, 5], [3, 6]]

46. write a python program to convert a list of tuples into a dictionary

In [6]:
lst = [('Date',5),('Month',3),('Year',2004)]
dict(lst)

{'Date': 5, 'Month': 3, 'Year': 2004}

47. how will to create a dictionary using tuples in python

> If we want to convert tuple in dictionary then we have an built-in method dict()

| when we use the dict() method then the data will be converted into the dictionary from tuple

> 2nd method is loop

| another way to convert tuple to dictionary is loop

| with the loop we can store the values from tuple in { key : value } pairs

> 3rd method is dictionary comprehension
| we can also use dictionary comprehension to create a dictionary from a list of tuples.

48. Write a python script to sort (ascending & descending) a dictionary by value.

In [11]:
dic = {1:'Ranip',3:'New Ranip',7:'Navrangpura',5:'Iscon'}

sor = dict(sorted(dic.items()))
print(f"Assending {sor}")

des = dict(sorted(dic.items(),reverse=True))
print(f"Desending {des}")

Assending {1: 'Ranip', 3: 'New Ranip', 5: 'Iscon', 7: 'Navrangpura'}
Desending {7: 'Navrangpura', 5: 'Iscon', 3: 'New Ranip', 1: 'Ranip'}

49. write a python script to concatenate following dictionaries to create a new one.

In [15]:
d1 ={1:'ranip',2:'new ranip'}
d2 ={3:'ahemdabad',4:'gandhinagar'}

new = d1.copy()
new.update(d2)
new

{1: 'ranip', 2: 'new ranip', 3: 'ahemdabad', 4: 'gandhinagar'}

50. Write a python script to check if a given key already exists in a dictionary

In [29]:
my_dict = {1:'phython',2:'java',3:'c++',4:'.net'}

def check_key_exists(dictionary, key):
    if key in dictionary:
        print(f"'{key}' exists in the dictionary.")
    else:
        print(f"'{key}' does not exist in the dictionary.")

key_to_check = input("Enter key to check : ")
check_key_exists(my_dict, key_to_check)

Enter key to check : c
'c' does not exist in the dictionary.